# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribución / empaquetado
dist/
build/
*.spec
*.egg
*.egg-info/

# Entornos virtuales
venv/
env/
.env/

# VS Code
.vscode/
*.code-workspace

# Archivos temporales
*.bak
*.swp
*.swo
*~

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db